:root{
	--azul: rgba(0, 162, 255, .8);
	--verde: rgba(107, 205, 71,.9);
	--obscuro: rgba(25, 25, 25, 1);
	--azulmas: rgba(131, 131, 211, .7);
	--blue:rgba(198, 198, 248, .6);
	--naranja: rgb(255, 166, 0);
	--melon:rgb(239, 141, 141);
}
main{
	width: 80% ;
	margin: 0 auto;
	}
header{
	width: 100%;
	background: var(--azul);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 1%;
}
header h1{
	padding-left: 1%;
	font-weight: normal;
	color :var(--obscuro) ;
	font-family:"nombrefont";
	text-align: center;
}
nav{
	width: 100%;
	background: var(--azulmas);
	border-radius: 5px;
	margin-bottom: 1%;
}
.navegation {
font-size: 1rem;
}
.navegation {
margin: 0;
padding: 0; 
list-style: none;
}
.navegation ul li{
display: inline-block;
}
.navegation ul li a{
text-decoration: none;
display: block;
padding: 0.5rem 0.5rem;	
transition: all 0.4s linear;
border-radius: 5px;
color: var(--obscuro);
font-weight: 660;
}
.navegation ul li a:hover{
background: var(--blue)
}
.menu-icon{
display: none;
text-align: center;
color: var(--naranja);
font-weight: 900;
}
body{
	background-color: var(--melon)
}
@media (max-width: 1023px) {
    .caja{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px) {
    .caja{
        grid-template-columns: repeat(1,1fr);
    }
}